.chatTemp {
  position: relative;
  left: 290px;
  top: 30px;
  height: 590px;
  width: 770px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 255, 255);
}

.chatHeading {
  position: relative;
  left: 22px;
  top: 18px;
  font-size: 1.5rem;
  color: rgb(248, 248, 248);
  font-family: "Overpass", sans-serif;
}

.boxs {
  position: relative;
  left: 0px;
  top: 0px;
  height: 60px;
  width: 770px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: rgb(129, 125, 204);
  background: linear-gradient(
    90deg,
    rgba(129, 125, 204, 1) 0%,
    rgba(129, 129, 204, 1) 46%,
    rgba(151, 148, 210, 1) 100%
  );
}

.userMessages {
  position: relative;
  padding-left: 20px;
  font-family: "Golos Text", sans-serif;
  color: rgb(84, 84, 88);
  overflow: auto;
  height: 465px;
}

.userMessages::-webkit-scrollbar {
  width: 10px;
}
.userMessages::-webkit-scrollbar-thumb:hover {
  background: #d3d1d1;
}

.userMessages::-webkit-scrollbar-thumb {
  background: #9e9d9d;
  border-radius: 2px;
}
.userMessages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#spanMessage {
  margin-top: 20px;
  margin-bottom: 61px;
  font-size: 0.82rem;
  font-weight: 400;
}

#poiu {
  font-size: 0.9rem;
  position: relative;
  top: 28px;
  left: -21px;
  font-weight: 400;
  border-radius: 6px;
  padding: 8px 10px;
  height: 36px;
  box-shadow: rgb(156 156 165 / 25%) 2px 6px 5px -43px,
    rgb(124 122 122 / 30%) 0px 3px 11px -4px;
  background-color: #f1f1f1;
}

.messagingBox {
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 640px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 255, 255);
  margin-bottom: 9px;
  margin-left: 13px;
  padding-left: 15px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 0.88rem;
  padding-bottom: 5px;
}

.sendMessage {
  position: absolute;
  height: 47px;
  bottom: -4px;
  width: 66px;
  left: 685px;
  margin-bottom: 13px;
  box-shadow: rgba(98, 98, 141, 0.15) 0px 2px 5px 0px,
    rgba(73, 73, 73, 0.05) 0px 1px 1px 0px;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  font-family: "Golos Text", sans-serif;
  font-size: 1rem;
  padding-bottom: 5px;
  background-color: rgb(248, 248, 248);
  color: rgb(85, 87, 87);
}
