.chatHeading {
  position: absolute;
  left: 58px;
  top: 23px;
  font-size: 1.69rem;
  color: rgb(248, 248, 248);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

img {
  height: 27px;
}

.boxs {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 82px;
  width: 402px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* border: none; */
  /* background-color: rgb(0, 0, 0); */
  background: rgb(52, 52, 54);
  background: linear-gradient(
    270deg,
    rgba(52, 52, 54, 1) 0%,
    rgba(60, 60, 62, 1) 58%,
    rgba(84, 84, 88, 1) 100%
  );
}

.navBar {
  position: absolute;
  top: 82px;
  left: 0px;
  height: 585px;
  width: 402px;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  /* border: none; */
  background-color: rgb(63, 62, 62);
}

.userNameDivMain {
  border: 1px solid rgb(78, 77, 77);
  position: relative;
  height: 37px;
  color: #f1f1f1;
  font-family: "Golos Text", sans-serif;
  padding-left: 19px;
  padding-top: 17px;
}

.userNameDivMain:hover {
  background-color: rgb(52, 52, 53);
}

.nav {
  position: absolute;
  top: 28px;
  left: 10px;
  background-color: #525256;
  border: none;
}

.navigation {
  position: absolute;
  top: 0px;
  left: -401px; /* move the div offscreen to the left */
  height: 665px;
  width: 401px;
  background-color: rgb(78, 77, 77);
  animation: slide-in 0.4s forwards; /* use slide-in animation for 0.5 seconds */
}

@keyframes slide-in {
  100% {
    left: 0px; /* move the div to its final position on the screen */
  }
}

.navigation.slide-out {
  animation: slide-out 0.5s forwards; /* use slide-out animation for 0.5 seconds */
}

@keyframes slide-out {
  0% {
    left: 0px; /* start at final position on the screen */
  }
  100% {
    left: -401px; /* move the div offscreen to the left */
  }
}

.userNameDiv {
  border: 1px solid rgb(78, 77, 77);
  position: relative;
  height: 33px;
  top: 83px;
  color: #f1f1f1;
  font-family: "Golos Text", sans-serif;
  padding-left: 18px;
  padding-top: 11px;
}

.userNameDiv:hover {
  background-color: rgb(92, 91, 91);
}

.createGrp,
.createPersMsg {
  position: relative;
  height: 45px;
  border: 1px solid rgb(97, 95, 95);
  top: 83px;
  color: #f1f1f1;
  font-family: "Golos Text", sans-serif;
  padding-left: 11px;
  padding-top: 20px;
}

.createGrp:hover,
.createPersMsg:hover {
  background-color: rgb(92, 91, 91);
}

.personalMsgNav {
  position: absolute;
  top: 0px;
  left: -401px; /* move the div offscreen to the left */
  height: 665px;
  width: 401px;
  background-color: rgb(78, 77, 77);
  animation: slide-in 0.4s forwards; /* use slide-in animation for 0.5 seconds */
}

.personalMsgNav.slide-out {
  animation: slide-out 0.5s forwards; /* use slide-out animation for 0.5 seconds */
}

.reverseButton,
.reverseButtonInPersMsg,
.reverseButtonInCreateGrp {
  position: absolute;
  top: 28px;
  left: 12px;
  background-color: rgb(78, 77, 77);
  border: none;
}

.reverseButton:hover,
.reverseButtonInPersMsg:hover,
.reverseButtonInCreateGrp:hover {
  background-color: rgb(75, 73, 73);
  border-radius: 7px;
}

.createGrpDiv {
  position: absolute;
  top: 0px;
  left: -401px; /* move the div offscreen to the left */
  height: 665px;
  width: 401px;
  background-color: rgb(78, 77, 77);
  animation: slide-in 0.4s forwards; /* use slide-in animation for 0.5 seconds */
}

.innercreateGrpDiv {
  position: relative;
  border-top: 1px solid #383535;
  top: 82px;
  width: 402px;
  height: 100px;
}

.grpNameLabel {
  position: relative;
  font-family: "Golos Text", sans-serif;
  color: #f1f1f1;
  top: 11px;
  left: 16px;
}

.grpInput {
  position: relative;
  top: 37px;
  width: 336px;
  height: 31px;
  left: 15px;
  border-radius: 3px;
  border: none;
  padding-left: 11px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
}

.grpInput:focus {
  outline-style: none;
}

.grpSubmit {
  position: relative;
  top: 47px;
  height: 30px;
  width: 64px;
  left: 301px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  cursor: pointer;
  font-family: "Golos Text", sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 0.84rem;
  padding-bottom: 4px;
  background-color: rgb(104 99 99);
  color: rgb(252 255 255);
  border: 1px solid rgb(44, 44, 43);
  border-radius: 7px;
}

.grpSubmit:hover {
  background-color: #525256;
}

.mainDivUsersCreateGrp {
  position: relative;
  color: #ffffff;
  top: 99px;
  height: auto;
  padding-left: 9px;
  padding-top: 10px;
  padding-bottom: 27px;
  font-family: "Golos Text", sans-serif;
}
.userNamesOnCreateGrp {
  margin-top: 3px;
  border: 1px solid rgb(106 103 103);
  position: relative;
  height: 20px;
  left: 0px;
  width: 365px;
  border-radius: 4px;
  color: #f1f1f1;
  font-family: "Golos Text", sans-serif;
  padding-left: 11px;
  padding-top: 7px;
  padding-bottom: 8px;
  top: 9px;
}

.userNamesOnCreateGrp.active {
  background-color: rgb(189 189 189 / 96%);
  color: black;
  /* background-color: #ffffff2f;
  color: rgb(255, 255, 255); */
}

.userNamesOnCreateGrp:hover {
  background-color: #ffffff2f;
  color: rgb(255, 255, 255);
}
.createGrpDiv.slide-out {
  animation: slide-out 0.5s forwards; /* use slide-out animation for 0.5 seconds */
}

.userName {
  position: absolute;
  left: 402px;
  top: 0px;
  height: 82px;
  width: 958px;
  background-color: rgb(95, 95, 97);
}

p.userNameToChat {
  position: absolute;
  left: 35px;
  top: 10px;
  font-size: 1.24rem;
  font-weight: 400;
  color: rgb(248, 248, 248);
  font-family: "Golos Text", sans-serif;
}

.adminOption {
  position: absolute;
  top: 34px;
  left: 896px;
  background-color: #60606a;
  border: none;
}

/* .adminDiv {
  position: absolute;
  top: 0px;
  left: 1024px;
  height: 667px;
  width: 336px;
  background-color: rgb(63 62 62);
} */
.adminDiv {
  position: absolute;
  top: 0;
  left: 1060px;
  height: 75%;
  width: 300px;
  background-color: rgb(63, 62, 62);
  animation-name: slidein;
  animation-duration: 0.55s;
  border-bottom-left-radius: 12px;
}

@keyframes slidein {
  from {
    height: 0px;
  }

  to {
    height: 75%;
  }
}

.optionMenu {
  height: 18px;
}

.membersInGrp {
  position: relative;
  top: 13px;
  padding-top: 9px;
  padding-bottom: 0px;
  padding-left: 26px;
  height: 30px;
  width: auto;
  font-family: "Golos Text", sans-serif;
}
.membersInGrp:hover {
  background-color: rgb(78, 77, 77);
}

.membersInGrpList {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 75%;
  width: 300px;
  background-color: rgb(63 62 62);
}

.membersInGrpListDiv {
  border: 1px solid rgb(78, 77, 77);
  position: relative;
  top: 12px;
  height: 27px;
  font-size: 0.88rem;
  color: #f1f1f1;
  font-family: "Golos Text", sans-serif;
  background-color: #464442;
  padding-left: 18px;
  width: 258px;
  margin-top: 5px;
  padding-bottom: 2px;
  padding-top: 9px;
  border-radius: 9px;
  left: 12px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}

.removeMember {
  position: relative;
  top: 19px;
  left: 27px;
  font-size: 0.75rem;
  padding-top: 3px;
  padding-bottom: 0px;
  padding-left: 7px;
  height: 19px;
  width: 54px;
  border: 1px solid white;
  font-family: "Golos Text", sans-serif;
  margin-bottom: 10px;
}

.makeAdminMember {
  position: relative;
  top: 19px;
  left: 27px;
  font-size: 0.75rem;
  padding-top: 3px;
  padding-bottom: 0px;
  padding-left: 7px;
  height: 19px;
  width: 78px;
  margin-right: 20px;
  border: 1px solid white;
  margin-top: 4px;
  font-family: "Golos Text", sans-serif;
  margin-bottom: 0px;
}

.removeMember:hover,
.makeAdminMember:hover {
  cursor: pointer;
  background-color: #414144;
  border-color: #b0b0b9;
}

.addMembersInGrp {
  position: relative;
  top: 13px;
  padding-top: 9px;
  padding-bottom: 0px;
  padding-left: 26px;
  height: 30px;
  width: auto;
  font-family: "Golos Text", sans-serif;
}

.addMembersInGrp:hover {
  background-color: rgb(78, 77, 77);
}

.addMemebersForGrp {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 75%;
  width: 300px;
  background-color: rgb(63 62 62);
}

.addMembers {
  position: relative;
  top: 19px;
  width: 253px;
  height: 29px;
  left: 15px;
  border-radius: 3px;
  border: none;
  padding-left: 11px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 0.83rem;
}

.addMembers:focus {
  outline-style: none;
}

.addMembersInputButton {
  position: relative;
  top: 29px;
  height: 30px;
  width: 64px;
  left: 217px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  cursor: pointer;
  font-family: "Golos Text", sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 0.84rem;
  padding-bottom: 4px;
  background-color: rgb(104 99 99);
  color: rgb(252 255 255);
  border: 1px solid rgb(44, 44, 43);
  border-radius: 7px;
}

.addMembersInputButton:focus {
  outline-style: none;
}

.addMembersInputButton:hover {
  background-color: #525256;
}

.searchedUser {
  margin-top: 3px;
  border: 1px solid rgb(106 103 103);
  position: relative;
  font-size: 0.93rem;
  height: 17px;
  left: 14px;
  width: 253px;
  border-radius: 4px;
  color: #f1f1f1;
  font-family: "Golos Text", sans-serif;
  padding-left: 11px;
  padding-top: 4px;
  padding-bottom: 8px;
  top: 42px;
}

.block-gap {
  display: block;
  margin-top: 4px;
  font-size: 0.83rem;
  color: #d6d6d6;
}
.searchedUser.hovered {
  margin-top: 3px;
  border: 1px solid rgb(129, 126, 126);
  position: relative;
  font-size: 0.93rem;
  height: 38px;
  left: 14px;
  width: 253px;
  border-radius: 4px;
  color: #f1f1f1;
  font-family: "Golos Text", sans-serif;
  padding-left: 11px;
  padding-top: 4px;
  padding-bottom: 8px;
  top: 42px;
  outline-style: none;
}

.imgForAddUser {
  float: right;
  height: 21px;
  margin-right: 4px;
}

.imgForAddUser.hovered {
  float: right;
  position: relative;
  top: -31px;
  height: 21px;
}

.searchedUserNotFound {
  position: relative;
  top: 38px;
  color: #f9ebeb;
  left: 78px;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.97rem;
  font-weight: 400;
  width: fit-content;
  animation: shake 0.8s;
}

@keyframes shake {
  25% {
    transform: translateX(9px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(9px);
  }
}

.userMessages {
  border-left: 6px solid rgb(184, 133, 133);
  position: absolute;
  padding-left: 20px;
  top: 82px;
  width: 932px;
  left: 402px;
  font-family: "Golos Text", sans-serif;
  /* background-color: rgba(133, 131, 131, 0.945); */
  background: rgb(123, 123, 128);
  background: linear-gradient(
    357deg,
    rgba(123, 123, 128, 1) 0%,
    rgba(155, 155, 164, 1) 100%
  );
  overflow: auto;
  height: 585px;
}

.userMessages::-webkit-scrollbar {
  width: 10px;
}
.userMessages::-webkit-scrollbar-thumb:hover {
  background: #d3d1d1;
}

.userMessages::-webkit-scrollbar-thumb {
  background: #9e9d9d;
  border-radius: 2px;
}
.userMessages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.starrt {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 9px;
  padding: 0; */
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 9px;
  padding: 0;
  top: 2px;
}

.ennd {
  /* display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5px; */
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 8px;
  top: 6px;
}

#spanMessageStart {
  color: rgb(47, 47, 48);
  font-size: 0.9rem;
  font-weight: 400;
  border-top-right-radius: 7px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 8px 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background-color: #f0efef;
  width: max-content;
  max-width: 300px;
  margin: 0px;
}

#spanMessageEnd {
  /* margin-top: -28px; */
  margin-right: 37px;
  color: rgb(47, 47, 48);
  font-size: 0.9rem;
  position: relative;
  top: 4px;
  font-weight: 400;
  border-top-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 8px 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background-color: #f0efef;
  /* max-width: 150px; */
  /* width: auto; */
  max-width: 300px;
  margin: 0px 26px;
}

.endFlex {
  top: 12px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 0px;
}

.startFlex {
  top: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0px;
  padding: 0;
  color: #f5f5f5;
}

.startFlexImagePersonal {
  top: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  padding: 0;
  margin-bottom: 16px;
  font-size: 0.84rem;
  color: #f5f5f5;
}

.startFlexDocumentPersonal{
  top: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  padding: 0;
  margin-bottom: 16px;
  font-size: 0.84rem;
  color: #f5f5f5;
}

.endFlexDocumentPersonal {
  top: 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 18px;
}

/* .nameOfUsersInGrpEnnd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2px;
  font-size: 0.93rem;
  color: white;
  margin-right: 16px;
  font-family: "Nunito", sans-serif;
  margin-top: 6px;
} */

.nameOfUsersInGrpStarrt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Nunito", sans-serif;
  margin: 0px;
  font-size: 0.84rem;
  margin-top: 6px;
}

#spanMessageEndFlex {
  color: rgb(47, 47, 48);
  font-size: 0.91rem;
  font-weight: 400;
  border-top-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 8px 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background-color: #f0efef;
  max-width: 300px;
  margin-bottom: -9px;
  margin-top: -16px;
  margin-right: 16px;
}

#spanMessageStartFlex {
  color: rgb(47, 47, 48);
  font-size: 0.9rem;
  font-weight: 400;
  border-top-right-radius: 7px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 8px 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background-color: #f0efef;
  width: max-content;
  max-width: 300px;
  margin-top: 3px;
  margin-bottom: 0px;
}

.imagesInGrp {
  height: 222px;
  margin-top: 23px;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.imagesInGrpStart {
  height: 222px;
  margin-top: 4px;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.endFlexImage {
  top: 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 18px;
}

.startFlexImage {
  top: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 11px;
  padding: 0;
  margin-bottom: 7px;
  font-size: 0.84rem;
  color: #f5f5f5;
}

.endFlexDocument {
  top: 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-right: 18px;
}
.documentsInGrp {
  border: solid 2px #ad7878;
  padding: 4px;
  color: #000000;
  font-size: 0.87rem;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
  padding-right: 9px;
  padding-left: 12px;
  margin-top: 4px;
}

.startFlexDocument {
  top: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  padding: 0;
  margin-bottom: 1px;
  font-size: 0.84rem;
  color: #f5f5f5;
}

.documentsInGrpStart {
  border: solid 2px #ad7878;
  padding: 4px;
  color: #000000;
  font-size: 0.87rem;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
  padding-right: 9px;
  padding-left: 12px;
  margin-top: 2px;
}

.inputAndSubmit {
  position: absolute;
  background: rgb(102, 102, 106);
  background: linear-gradient(
    90deg,
    rgba(102, 102, 106, 1) 0%,
    rgba(129, 129, 134, 1) 51%,
    rgba(102, 102, 106, 1) 100%
  );
  top: 605px;
  height: 62px;
  width: 948px;
  left: 402px;
}
.messagingBox {
  outline: 1px solid rgb(44, 43, 43);
  padding-top: 2px;
  position: absolute;
  color: #161515;
  left: 63px;
  top: 17px;
  height: 29px;
  width: 714px;
  letter-spacing: 0.03rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.747);
  padding-left: 23px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 0.91rem;
  padding-bottom: 5px;
}

/* .messagingBox:focus {
  background-color: rgb(151, 151, 151);
} */

.sendMessage {
  position: absolute;
  top: 16px;
  height: 37px;
  width: 82px;
  left: 816px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  font-family: "Golos Text", sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 1rem;
  padding-bottom: 5px;
  background-color: rgb(240, 239, 239);
  color: rgb(53, 54, 54);
  border: 1px solid rgb(44, 44, 43);
  border-radius: 7px;
}

.sendMessage:hover {
  background-color: rgba(218, 213, 213, 0.87);
}

.add-document_div {
  background-color: #69696d;
  border: none;
  top: 19px;
  position: relative;
  left: 11px;
}

.innerImg-add_documents {
  height: 27px;
}

.add-document.hovered {
  top: 19px;
  position: relative;
}

.add-documents {
  position: absolute;
  bottom: 0px;
  left: 408px;
  height: 15%;
  width: 230px;
  background-color: rgb(63, 62, 62);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.add-document_button {
  position: relative;
  display: block;
  top: 9px;
  padding-top: 0px;
  text-align: left;
  padding-bottom: 0px;
  padding-left: 18px;
  height: 35px;
  width: 230px;
  font-family: "Golos Text", sans-serif;
  background-color: #3f3e3e;
  border: none;
  color: #e1dede;
  font-size: 0.96rem;
}

.add-document_button:hover {
  background-color: rgb(78, 77, 77);
}

.document_option {
  position: absolute;
  top: 250px;
  left: 648px;
  height: 33%;
  width: 500px;
  background-color: rgb(63, 62, 62);
  border-radius: 12px;
}
#document_file {
  position: relative;
  top: 32px;
  left: 31px;
  color: #fffefe;
  height: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  border: none;
}

#document_button_submit {
  position: absolute;
  top: 168px;
  width: 66px;
  border: none;
  height: 28px;
  left: 408px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
}
