.form {
  position: relative;
  left: 450px;
  top: 150px;
  height: 330px;
  width: 415px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 255, 255);
}

.signUp {
  position: absolute;
  margin-top: 14px;
  left: 32px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
  color: rgba(41, 39, 39, 0.589);
}

.nameInput,
.mailInput,
.phoneNoInput,
.passwordInput {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  left: 32px;
  height: 32px;
  width: 330px;
  padding-left: 13px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 4px;
  border: none;
  color: rgb(102, 100, 100);
  background-color: rgb(239, 243, 243);
  letter-spacing: 0.027rem;
}

.nameInput {
  position: absolute;
  top: 80px;
}

.mailInput {
  position: absolute;
  top: 125px;
}

.phoneNoInput {
  position: absolute;
  top: 170px;
}

.passwordInput {
  position: absolute;
  top: 215px;
}

.signUpButton {
  width: 80px;
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  top: 270px;
  height: 32px;
  left: 293px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border: none;
  border-radius: 4px;
  background-color: rgb(196, 192, 192);
  opacity: 1.2;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 0.95em;
  padding-bottom: 4px;
}

.message {
  position: absolute;
  left: 482px;
  top: 488px;
  font-family: "Noto Sans", sans-serif;
  color: rgb(206, 80, 80);
  animation: shake 0.8s;
}

@keyframes shake {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
}
